keybinds clear-defaults=true {
    locked {
        // Changed to use Alt
        bind "Alt g" { SwitchToMode "normal"; }
    }
    pane {
        bind "left" { MoveFocus "left"; } [cite: 3]
        bind "down" { MoveFocus "down"; } [cite: 4]
        bind "up" { MoveFocus "up"; } [cite: 5]
        bind "right" { MoveFocus "right"; } [cite: 6]
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; } [cite: 7]
        bind "d" { NewPane "down"; SwitchToMode "normal"; } [cite: 8]
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; } [cite: 9]
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; } [cite: 10]
        bind "h" { MoveFocus "left"; } [cite: 11]
        bind "i" { TogglePanePinned; SwitchToMode "normal"; } [cite: 12]
        bind "j" { MoveFocus "down"; } [cite: 13]
        bind "k" { MoveFocus "up"; } [cite: 14]
        bind "l" { MoveFocus "right"; } [cite: 15]
        bind "n" { NewPane; SwitchToMode "normal"; } [cite: 16]
        bind "p" { SwitchFocus; } [cite: 17]
        // Changed to use Alt
        bind "Alt p" { SwitchToMode "normal"; }
        bind "r" { NewPane "right"; SwitchToMode "normal"; } [cite: 19]
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; } [cite: 20]
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; } [cite: 21]
    }
    tab {
        bind "left" { GoToPreviousTab; } [cite: 22]
        bind "down" { GoToNextTab; } [cite: 23]
        bind "up" { GoToPreviousTab; } [cite: 24]
        bind "right" { GoToNextTab; } [cite: 25]
        bind "1" { GoToTab 1; SwitchToMode "normal"; } [cite: 26]
        bind "2" { GoToTab 2; SwitchToMode "normal"; } [cite: 27]
        bind "3" { GoToTab 3; SwitchToMode "normal"; } [cite: 28]
        bind "4" { GoToTab 4; SwitchToMode "normal"; } [cite: 29]
        bind "5" { GoToTab 5; SwitchToMode "normal"; } [cite: 30]
        bind "6" { GoToTab 6; SwitchToMode "normal"; } [cite: 31]
        bind "7" { GoToTab 7; SwitchToMode "normal"; } [cite: 32]
        bind "8" { GoToTab 8; SwitchToMode "normal"; } [cite: 33]
        bind "9" { GoToTab 9; SwitchToMode "normal"; } [cite: 34]
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; } [cite: 35]
        bind "]" { BreakPaneRight; SwitchToMode "normal"; } [cite: 36]
        bind "b" { BreakPane; SwitchToMode "normal"; } [cite: 37]
        bind "h" { GoToPreviousTab; } [cite: 38]
        bind "j" { GoToNextTab; } [cite: 39]
        bind "k" { GoToPreviousTab; } [cite: 40]
        bind "l" { GoToNextTab; } [cite: 41]
        bind "n" { NewTab; SwitchToMode "normal"; } [cite: 42]
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; } [cite: 43]
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; } [cite: 44]
        // Changed to use Alt
        bind "Alt t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; } [cite: 46]
        bind "tab" { ToggleTab; } [cite: 47]
    }
    resize {
        bind "left" { Resize "Increase left"; } [cite: 48]
        bind "down" { Resize "Increase down"; } [cite: 49]
        bind "up" { Resize "Increase up"; } [cite: 50]
        bind "right" { Resize "Increase right"; } [cite: 51]
        bind "+" { Resize "Increase"; } [cite: 52]
        bind "-" { Resize "Decrease"; } [cite: 53]
        bind "=" { Resize "Increase"; } [cite: 54]
        bind "H" { Resize "Decrease left"; } [cite: 55]
        bind "J" { Resize "Decrease down"; } [cite: 56]
        bind "K" { Resize "Decrease up"; } [cite: 57]
        bind "L" { Resize "Decrease right"; } [cite: 58]
        bind "h" { Resize "Increase left"; } [cite: 59]
        bind "j" { Resize "Increase down"; } [cite: 60]
        bind "k" { Resize "Increase up"; } [cite: 61]
        bind "l" { Resize "Increase right"; } [cite: 62]
        // Changed to use Alt
        bind "Alt n" { SwitchToMode "normal"; }
    }
    move {
        bind "left" { MovePane "left"; } [cite: 64]
        bind "down" { MovePane "down"; } [cite: 65]
        bind "up" { MovePane "up"; } [cite: 66]
        bind "right" { MovePane "right"; } [cite: 67]
        bind "h" { MovePane "left"; } [cite: 68]
        // Changed to use Alt
        bind "Alt h" { SwitchToMode "normal"; }
        bind "j" { MovePane "down"; } [cite: 70]
        bind "k" { MovePane "up"; } [cite: 71]
        bind "l" { MovePane "right"; } [cite: 72]
        bind "n" { MovePane; } [cite: 73]
        bind "p" { MovePaneBackwards; } [cite: 74]
        bind "tab" { MovePane; } [cite: 75]
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; } [cite: 76]
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; } [cite: 77]
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; } [cite: 78]
        bind "n" { Search "down"; } [cite: 79]
        bind "o" { SearchToggleOption "WholeWord"; } [cite: 80]
        bind "p" { Search "up"; } [cite: 81]
        bind "w" { SearchToggleOption "Wrap"; } [cite: 82]
    }
    session {
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        } [cite: 83]
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        } [cite: 84]
        // Changed to use Alt
        bind "Alt o" { SwitchToMode "normal"; }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        } [cite: 85]
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; } [cite: 87]
        bind "Alt down" { MoveFocus "down"; } [cite: 88]
        bind "Alt up" { MoveFocus "up"; } [cite: 89]
        bind "Alt right" { MoveFocusOrTab "right"; } [cite: 90]
        bind "Alt +" { Resize "Increase"; } [cite: 91]
        bind "Alt -" { Resize "Decrease"; } [cite: 92]
        bind "Alt =" { Resize "Increase"; } [cite: 93]
        bind "Alt [" { PreviousSwapLayout; } [cite: 94]
        bind "Alt ]" { NextSwapLayout; } [cite: 95]
        bind "Alt f" { ToggleFloatingPanes; } [cite: 96]
        // Changed to use Alt
        bind "Alt g" { SwitchToMode "locked"; }
        bind "Alt j" { MoveFocus "down"; } [cite: 100]
        bind "Alt k" { MoveFocus "up"; } [cite: 101]
        bind "Alt l" { MoveFocusOrTab "right"; } [cite: 102]
        bind "Ctrl q" { Quit; } [cite: 105]
    }
    shared_except "locked" "move" {
        // Changed to use Alt
        bind "Alt h" { SwitchToMode "move"; }
    }
    shared_except "locked" "session" {
        // Changed to use Alt
        bind "Alt o" { SwitchToMode "session"; }
    }
    shared_except "locked" "scroll" "search" "tmux" {
        // Changed to use Alt
        bind "Alt b" { SwitchToMode "tmux"; }
    }
    shared_except "locked" "scroll" "search" {
        // Changed to use Alt
        bind "Alt s" { SwitchToMode "scroll"; }
    }
    shared_except "locked" "tab" {
        // Changed to use Alt
        bind "Alt t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "pane" {
        // Changed to use Alt
        bind "Alt p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" {
        // Changed to use Alt
        bind "Alt n" { SwitchToMode "resize"; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; } [cite: 113]
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; } [cite: 114]
    }
    shared_among "pane" "tmux" {
        bind "x" { CloseFocus; SwitchToMode "normal"; } [cite: 115]
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; } [cite: 116]
        bind "PageUp" { PageScrollUp; } [cite: 117]
        bind "left" { PageScrollUp; } [cite: 118]
        bind "down" { ScrollDown; } [cite: 119]
        bind "up" { ScrollUp; } [cite: 120]
        bind "right" { PageScrollDown; } [cite: 121]
        bind "Ctrl b" { PageScrollUp; } [cite: 122]
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; } [cite: 123]
        bind "d" { HalfPageScrollDown; } [cite: 124]
        bind "Ctrl f" { PageScrollDown; } [cite: 125]
        bind "h" { PageScrollUp; } [cite: 126]
        bind "j" { ScrollDown; } [cite: 127]
        bind "k" { ScrollUp; } [cite: 128]
        bind "l" { PageScrollDown; } [cite: 129]
        // Changed to use Alt
        bind "Alt s" { SwitchToMode "normal"; }
        bind "u" { HalfPageScrollUp; } [cite: 131]
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; } [cite: 132]
        bind "esc" { SwitchToMode "scroll"; } [cite: 133]
        bind "enter" { SwitchToMode "search"; } [cite: 134]
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; } [cite: 135]
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; } [cite: 136]
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; } [cite: 137]
    }
    shared_among "session" "tmux" {
        bind "d" { Detach; } [cite: 138]
    }
    tmux {
        bind "left" { MoveFocus "left"; SwitchToMode "normal"; } [cite: 139]
        bind "down" { MoveFocus "down"; SwitchToMode "normal"; } [cite: 140]
        bind "up" { MoveFocus "up"; SwitchToMode "normal"; } [cite: 141]
        bind "right" { MoveFocus "right"; SwitchToMode "normal"; } [cite: 142]
        bind "space" { NextSwapLayout; } [cite: 143]
        bind "\"" { NewPane "down"; SwitchToMode "normal"; }
        bind "%" { NewPane "right"; SwitchToMode "normal"; }
        bind "," { SwitchToMode "renametab"; }
        bind "[" { SwitchToMode "scroll"; }
        // Changed to use Alt
        bind "Alt b" { Write 2; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "h" { MoveFocus "left"; SwitchToMode "normal"; } [cite: 144]
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "n" { GoToNextTab; SwitchToMode "normal"; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; } [cite: 145]
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}
 
// Use a simplified UI without special fonts (arrow glyphs)
// Options:
//   - true
//   - false (Default)
// 
// simplified_ui true
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
// theme "dracula"
 
// Choose the base input mode of zellij.
// Default: normal
// 
// default_mode "locked"
 
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
// 
// default_shell "fish"
 
// Choose the path to override cwd that zellij will use for opening new panes
// 
// default_cwd "/tmp"
 
// The name of the default layout to load on startup
// Default: "default"
// 
// default_layout "compact"
 
// The folder in which Zellij will look for layouts
// (Requires restart)
// 
// layout_dir "/tmp"
 
// The folder in which Zellij will look for themes
// (Requires restart)
// 
// theme_dir "/tmp"
 
// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
// 
// mouse_mode false
 
// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
// 
// pane_frames false
 
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// (Requires restart)
// Default: false
// 
// mirror_session true
 
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// (Requires restart)
// Options:
//   - detach (Default)
//   - quit
// 
// on_force_close "quit"
 
// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// (Requires restart)
// Valid values: positive integers
// Default value: 10000
// 
// scroll_buffer_size 10000
 
// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
// 
// copy_command "pbcopy"
 
// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
// 
// copy_clipboard "primary"
 
// Enable automatic copying (and clearing) of selection when releasing mouse
// Default: true
// 
// copy_on_select true
 
// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"
 
// A fixed name to always give the Zellij session.
// Consider also setting `attach_to_session true,`
// otherwise this will error if such a session exists.
// Default: <RANDOM>
// 
// session_name "My singleton session"
 
// When `session_name` is provided, attaches to that session
// if it is already running or creates it otherwise.
// Default: false
// 
// attach_to_session true
 
// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
// 
// auto_layout false
 
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
// 
// session_serialization false
 
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// 
// serialize_pane_viewport false
 
// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// 
// scrollback_lines_to_serialize 10000
 
// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// (Requires restart)
// Default: true
// 
// styled_underlines false
 
// How often in seconds sessions are serialized
// 
// serialization_interval 10000
 
// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// (Requires restart)
// Default: false
// 
// disable_session_metadata false
 
// Enable or disable support for the enhanced Kitty Keyboard Protocol (the host terminal must also support it)
// (Requires restart)
// Default: true (if the host terminal supports it)
// 
// support_kitty_keyboard_protocol false
 
// Whether to stack panes when resizing beyond a certain size
// Default: true
// 
// stacked_resize false
 
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false
 
// Whether to show release notes on first version run
// Default: true
// 
// show_release_notes false
